---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true }),
);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <style>
      .blog-list {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    </style>
  </head>
  <body>
    <Header />

    <h1>我的博客列表</h1>
    <p>在这里，我将分享我的编程学习之旅。</p>
    <ul class="blog-list">
      {allPosts.map((post: any) => <BlogPost post={post} />)}
    </ul>

    <Footer />

    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
